.game-mode-page {
  padding: 20px;
}

.word-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .word-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
