.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

@media (min-width: 600px) {
  .app {
    padding: 20px;
  }

  .app-header {
    padding: 30px;
  }

  main {
    padding: 30px;
  }
}
